<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('plugins/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('plugins/css/bootstrap-datepicker3.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style_dashboard.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style_login.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Dashboard</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">Home</span></a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <div class="connected_as">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>



            </form>


        </div>
    </nav>





        <div class="pad-50">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }} alert alert-success" role="alert">
                            {{ message }}
                        </div>
                        <div class="">

                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>

    <script src="{{ asset('plugins/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('plugins/js/bootstrap-datepicker.en-GB.min.js') }}"></script>
    <script src="{{ asset('plugins/js/scripts.js') }}"></script>
</html>
